<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    
    
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>    <!-- Wraps the backend with endpoint frameworks v? or declaration name for servlet-->
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.google.devrel.training.conference.spi.connectapi</param-value>  <!-- this is app specific name of the app  -->
        </init-param>
        

       
        
        
        
        
    </servlet>
    
    <servlet-mapping>       <!-- Routes Api requests to the backend/ maps urls to the declared sservlet to handle it -->
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
   
    <welcome-file-list>  
        <welcome-file>firebase_widget.html</welcome-file> <!-- Landing Page of the Web app -->
    </welcome-file-list>
    
 
 <security-constraint>         <!-- Restricts users that haven't signed in, what about uses who have a different 3rd paty sign in  -->
        <web-resource-collection>
            <web-resource-name>all</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
   
   <filter>
	 <filter-name>ObjectifyFilter</filter-name>
   <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
   </filter>
  <filter-mapping>
	<filter-name>ObjectifyFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
     
</web-app>
